html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    
}


.contenedor{
width: 120rem;
margin-top: 0;



}

.menuprin a{
    color: aliceblue;
    text-decoration: none;  
}
.menuprin{
padding: 1rem;
display: flex;

justify-content: space-between;


}

.bg{
    background-color: rgb(48, 71, 134);
}

.intro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
    
}


.intro h2{
    grid-column: 2;
    grid-row: 1;
    padding-top: 50px;
    align-items: center;    
    justify-content: center;
    
    
    
}

.introtext{
    padding-top: 100px;
    align-items: center;
    grid-column: 2;
  grid-row: 1;
}

.enca{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.logo{
    grid-column: 1;
    grid-row: 1;
}

.titt{
    grid-column: 2/4;
    grid-row: 1;
}

.textoo{
    grid-column: 4;
    grid-row: 1;
    color: rgb(143, 145, 148);
}

.tabladiv{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.default{
    grid-column: 2;
    grid-row: 1;    
}

.boton{
    grid-column: 2;
    grid-row: 3; 
    align-items: center;
    
}

table{
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
    border: 3px solid rgb(7, 7, 7);
}

